In [1]:
students = []

def accept_student():
    student_name = input("Enter student name: ")
    student_roll_number = input("Enter student roll number: ")
    subject_1_marks = float(input("Enter marks for subject 1: "))
    subject_2_marks = float(input("Enter marks for subject 2: "))

    student = {
        "student_info": {
            "student_name": student_name,
            "student_roll_number": student_roll_number,
            "subject_1_marks": subject_1_marks,
            "subject_2_marks": subject_2_marks
        }
    }

    students.append(student)
    print("Student data accepted.")

def display_students():
    if not students:
        print("No student data available.")
        return

    print("Student Data:")
    for student in students:
        print("Name:", student["student_info"]["student_name"])
        print("Roll Number:", student["student_info"]["student_roll_number"])
        print("Marks 1:", student["student_info"]["subject_1_marks"])
        print("Marks 2:", student["student_info"]["subject_2_marks"])
        print()

def search_student_by_name(student_name):
    found_students = []
    for student in students:
        if student["student_info"]["student_name"].lower() == student_name.lower():
            found_students.append(student)

    if not found_students:
        print("No student with the given name found.")
        return

    print("Student(s) Found:")
    for student in found_students:
        print("Name:", student["student_info"]["student_name"])
        print("Roll Number:", student["student_info"]["student_roll_number"])
        print("Marks 1:", student["student_info"]["subject_1_marks"])
        print("Marks 2:", student["student_info"]["subject_2_marks"])
        print()

def delete_student(student_roll_number):
    for student in students:
        if student["student_info"]["student_roll_number"] == student_roll_number:
            students.remove(student)
            print("Student data deleted successfully.")
            return

    print("No student with the given roll number found.")

def update_student(student_roll_number):
    for student in students:
        if student["student_info"]["student_roll_number"] == student_roll_number:
            print("Enter updated details for the student:")
            student["student_info"]["student_name"] = input("Enter updated name: ")
            student["student_info"]["student_roll_number"] = input("Enter updated roll number: ")
            student["student_info"]["subject_1_marks"] = float(input("Enter updated marks for subject 1: "))
            student["student_info"]["subject_2_marks"] = float(input("Enter updated marks for subject 2: "))
            print("Student data updated successfully.")
            return

    print("No student with the given roll number found.")

In [2]:
accept_student()

Enter student name: amrit
Enter student roll number: 343
Enter marks for subject 1: 100
Enter marks for subject 2: 80
Student data accepted.

In [3]:
accept_student()

Enter student name: alok
Enter student roll number: 60
Enter marks for subject 1: 30
Enter marks for subject 2: 20
Student data accepted.

In [4]:
display_students()

Student Data:
Name: amrit
Roll Number: 343
Marks 1: 100.0
Marks 2: 80.0

Name: alok
Roll Number: 60
Marks 1: 30.0
Marks 2: 20.0

In [5]:
search_student_by_name('alok')

Student(s) Found:
Name: alok
Roll Number: 60
Marks 1: 30.0
Marks 2: 20.0

In [6]:
search_student_by_name('amrit')

Student(s) Found:
Name: amrit
Roll Number: 343
Marks 1: 100.0
Marks 2: 80.0

In [9]:
update_student('60')

Enter updated details for the student:
Enter updated name: alok
Enter updated roll number: 360
Enter updated marks for subject 1: 30
Enter updated marks for subject 2: 20
Student data updated successfully.

In [12]:
delete_student('360')

Student data deleted successfully.

In [13]:
display_students()

Student Data:
Name: amrit
Roll Number: 343
Marks 1: 100.0
Marks 2: 80.0